body {
  background-image: url('images/RankingCascos2.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }

/* Alineando Grid */
.grid{
  padding-top: 8.5%;
}

.name-row-2{
  padding-top: 10.5%;
}

.name-row-3{
  padding-top: 10.7%;
}

.name-row-4{
  padding-top: 11.5%;
}

/* Alineando texto de nombre */
#p1Name{
  padding-left: 100px;
}
#p2Name{
  padding-left: 100px;
}
#p3Name{
  padding-left: 100px;
}
#p4Name{
  padding-left: 100px;
}

/* Alineando texto de timer */
#TimerPlayer1{
  padding-left: 80px;
}
#TimerPlayer2{
  padding-left: 80px;
}
#TimerPlayer3{
  padding-left: 80px;
}
#TimerPlayer4{
  padding-left: 80px;
}