body {
  background-image: url('images/RankingCascos2.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }

  .text_names_time{
    padding-left: 40%;
    padding-top: 8.5%;
  }